body {
  font:
    62.5% Palatino,
    "Times New Roman",
    serif;
}

div {
  margin: 0 auto;
  padding-top: 15px;
  width: 500px;
  text-align: center;
  position: relative;
}

h1 {
  margin: 10px 0 20px;
  font-size: 3.3em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
}
h3 {
  margin-bottom: 5px;
  font-size: 2.3em;
  font-weight: normal;
}
p {
  margin-bottom: 1.7em;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
  text-align: justify;
}
nav {
  background: #fbfbfb;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  display: block;
  min-height: 20px;
  margin-top: 10px;
  padding: 6px 0 0;
  position: relative;
  font-size: 1.5em;
  color: #999;
}
.center {
  text-align: center;
}
.description {
  color: #999;
  font-size: 1.2em;
  font-style: italic;
  margin: 18px auto 10px;
  padding: 0 0 13px;
  width: 400px;
  text-align: center;
}
.author {
  color: #999;
  font-size: 1.2em;
  font-style: italic;
  margin: 0px auto 10px;
  padding: 0 0 13px;
  width: 400px;
  text-align: center;
}
.image {
  color: #999;
  font-size: 1.2em;
  font-style: italic;
  margin: 0px auto 0px;
  padding: 0 0 0;
  width: 400px;
  text-align: center;
}
.image-desc {
  color: #555;
  font-size: 1.3em;
  font-style: italic;
  margin: 0px auto 10px;
  padding: 0 0 13px;
  width: 400px;
  text-align: center;
}
img {
  max-width: 100%;
  max-height: 200px;
  margin: 5px auto;
  border: 1px solid #ccc;
}
.info {
  color: #999;
  font-size: 1.2em;
  font-style: italic;
  margin: 10px auto 0px;
  padding: 0 0 0;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid gray;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
a {
  color: black;
  text-decoration: none;
}
a :hover {
  text-decoration: underline;
}

.recent-post {
  color: gray !important;
  font-style: italic;
}

.recent-post-date {
  color: darkgray !important;
}
